/bin/
/ffmpeg.exe
/LibraryTest/
/tempout.mp3
/testcover.png
/testin.mp3
/tempalbumart.png
/tempout2.mp3
/tempalbumart.jpg
/adb.exe
/AdbWinApi.dll
/AdbWinUsbApi.dll
/SongSync_Song_List.txt
/SongSync_Song_List.txt.dbg
/SongSync_Song_List.txt.debug
/Testing Library/
/Battle themes_.m3u
/Battle themes.m3u
/SongSyncInfo.ini.tmp
